@charset "utf-8";
@import url(animate.css);
body{font:14px "Kanit";background:#fff;color:#1f1f1f}
body.bg-gray{background:#f1f1f1}
body>.container{position:relative;padding:0}
*, ul, ol, * li{padding:0;margin:0;list-style-type:none}
h1, h2, h3, h4, h5, h6{font-family:"Kanit", tahoma, Arial, sans-serif;font-weight:500;margin:0;line-height:normal}
a{color:#4d5055}
a,.link{cursor:pointer}
a:hover{color:#666;text-decoration:none}
a:focus{text-decoration:none}
a:hover,a:focus {text-decoration:none}
img{max-width:100%}
fieldset{border:none;margin:0;padding:0}
address{font-style:normal}
/*header*/
/*[id="gb-header"]{font:14px "Kanit"}
[id="gb-footer"],[id="gb-footer"] *:not([class*="fa"]){font-family:"Kanit"}
[id^="gb-"] .hid{display:none}
[id^="gb-"] .btn:active,[id^="gb-"] .btn.active,[id="gb-header"] .form-control{box-shadow:none;webkit-box-shadow:none}*/
/*header*/
[id="gb-header"]{position:relative;z-index:199;background:#fff}
[id="gb-header"] [class*="logo"]{padding:0;margin:0;position:relative;max-width:250px;max-height:100px}
[id="gb-header"] [class*="logo"] a,[id="gb-header"] [class*="logo"] a span{position:relative;display:block;width:100%;height:100%;text-indent:-9999px;z-index:2}
[id="gb-header"] [class*="logo"] a{position:absolute;top:0;left:0;right:0;bottom:0;z-index:2}
[id="gb-header"] [class*="logo"] img{position:relative;z-index:1;max-height:100px;max-width:100%}
.main-nav{position:relative;background:none;z-index:199}
.main-nav>ul{margin:0 auto;padding:0}
.main-nav>ul>li{position:relative;font-family:"Kanit"}
.main-nav>ul>li>a{display:block;color:#001E64;padding:15px 10px;font-size:14px;font-weight:400;line-height:22px;text-decoration:none}
.main-nav>ul>li>a>i{color:#fff;vertical-align:bottom}
.main-nav>ul>li>ul{display:none;visibility:hidden}
.main-nav>ul>li ul>li{padding:5px 10px}
[id="gb-header"] [class*="btn-nv"]{position:absolute;top:0;right:0;display:none;width:50px;height:50px;text-align:center;line-height:50px;color:#555;font-size:30px;overflow:hidden}
[id="gb-header"] [class*="btn-nv"] a{display:block;height:100%;color:#555}
[id="gb-header"] [class*="btn-nv"] span{position:absolute;display:block;width:60%;height:2px;top:30%;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);background:#001E64;transition:.4s all ease;-webkit-transition:.4s all ease}
[id="gb-header"] [class*="btn-nv-m"] span:nth-child(2){top:50%}
[id="gb-header"] [class*="btn-nv-m"] span:nth-child(3){top:70%;width: 40%;left: 39%}
.expand [id="gb-header"] [class*="btn-nv-m"] a{background:none}
.expand [id="gb-header"] [class*="btn-nv-m"] a span{background:rgba(255, 255, 255, 0.95)}
.expand [id="gb-header"] [class*="btn-nv-m"] span:nth-child(2),.mm-wrapper_opening [id="gb-header"] [class*="btn-nv-m"] span:nth-child(2){display:none}
.expand [id="gb-header"] [class*="btn-nv-m"] span:nth-child(1),.mm-wrapper_opening [id="gb-header"] [class*="btn-nv-m"] span:nth-child(1){top:50%;left:20%;transform:rotate(45deg);-webkit-transform:rotate(45deg)}
.expand [id="gb-header"] [class*="btn-nv-m"] span:nth-child(3),.mm-wrapper_opening [id="gb-header"] [class*="btn-nv-m"] span:nth-child(3){width: 60%; top:50%;left:20%;transform:rotate(-45deg);-webkit-transform:rotate(-45deg)}
[id="gb-header"] .lg-credit{padding: 0}
[id="gb-header"] .lg-credit>li{padding: 0 10px}
/*.sw-nav{position:relative;text-align:center}
.sw-nav>a{text-decoration:none;display:block;float:right}
.sw-nav>a.btn.active:before{content:"";display:block;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(255,255,255,0.5)}

[id="gb-header"] .fix-r{position:relative}
[id="gb-header"] .fix-r a{position:relative;display:inline-block;padding:15px 5px;font-size:16px;font-weight:400;color:#404040;line-height:30px;text-decoration:none;vertical-align:middle}
[id="gb-header"] .fix-r a .ic-noti{position:absolute;top:12px;right:-5px;display:block;width:12px;height:12px;background:url("../di/icon-noti.png") 50% 50% no-repeat #fff;background-size:115% auto;border-radius:100%}
[id="gb-header"] .fix-r a.avatar img{display:inline-block;max-width:40px;max-height:40px;border-radius:.3em;-webkit-border-radius:.3em;object-fit: cover;}
[id="gb-header"] .fix-r a.point{border-radius:2em;-webkit-border-radius:2em;overflow:hidden}
[id="gb-header"] .fix-r a.point>*{display:inline-block;background:#FFC10C;color:#333;font-size:11px;height:30px;padding:0 10px;border-radius:2em 0 0 2em}
[id="gb-header"] .fix-r a.point>em{font-style:normal;background:#fff;color:#C94949;border-radius:0 2em 2em 0}
[id="gb-header"] .drop-user{position:absolute;top:100%;right:0;left:auto;background:#fff;width:300px;padding:10px;max-width:100vw;box-shadow:0 0 12px -2px rgba(0, 0, 0, 0.5);border:none;border-bottom:9px solid #602ca3;border-radius:.2em;-webkit-border-radius:.2em}
[id="gb-header"] .drop-user>b{display:block;white-space:nowrap;text-overflow:ellipsis;color:#000}
[id="gb-header"] .drop-user.sub-m{z-index:99}
[id="gb-header"] .drop-user.sub-m ul{padding-top:10px}
[id="gb-header"] .drop-user.sub-m ul>li{text-align:left}
[id="gb-header"] .drop-user.sub-m ul>li:first-child{border-bottom:1px solid #ededed}
[id="gb-header"] .drop-user.sub-m ul>li>a{position:relative;display:block;padding:12px 10px 12px 78px;color:#333;font-weight:200}
[id="gb-header"] .drop-user.sub-m ul>li:first-child>a{padding-top:25px;color:#a13a3a}
[id="gb-header"] .drop-user.sub-m ul>li>a>i:first-child+small{position:absolute;top:-13px;left:20px;font-size:12px;color:#000}
[id="gb-header"] .drop-user.sub-m ul>li>a>em{display:inline-block;padding:0 10px;font-weight:400;font-size:160%;font-style:normal}
[id="gb-header"] .drop-user.sub-m ul>li:not(:first-child)>a>i{filter:grayscale(1) contrast(0) brightness(0.5);-webkit-filter:grayscale(1) contrast(0) brightness(0.5)}
.fix-r .sw-view{}
.fix-r .sw-view>a{display:block}
.fix-r .sw-view>a i[class*="fa"]{color:#000;font-size:18px}
.fix-r .sw-view .form-control{padding:0; margin: 0; border:none;height: auto;}
.fix-r .sw-view .form-control>li{padding:0!important}
.fix-r .sw-view .form-control form>input::-webkit-input-placeholder {color:#c6c6c6}
.fix-r .sw-view .form-control form>input:-ms-input-placeholder {color:#c6c6c6}
.fix-r .sw-view .form-control form>input::placeholder {color:#c6c6c6}
.fix-r .sw-view .form-control form>.btn{padding:0}
.sw-toggle{position: relative}
.sw-toggle .dropdown{display: none;position: absolute;top: 100%;left:0;background: #fff; border-radius: .3em;-webkit-border-radius: .3em;box-shadow: 0 2px 2px rgba(0,0,0,0.2)}
.sw-toggle .dropdown.right{left: auto;right: 0}
.sw-toggle .dropdown>li>a{display: block;padding:5px 10px; line-height:18px;font-size: 13px}

.fix-r .sw-view>.btn{display:block}
.fix-r .sw-view>a{width:30px;height:30px;position:relative;text-indent:-9999px}
.fix-r .sw-view>a>i[class*="fa"]{display:block;position:absolute;width:100%;height:30px;line-height:30px;top:0;left:0;text-indent:0;font-size:22px;text-align:center}
.fix-r .sw-view,.fix-r .sw-nav{padding:0 7px}
.fix-r .sw-view .form-control{opacity:1;visibility:hidden;top:-100%;position:fixed;top:0;left:0;right:0;background:#a13a3a;padding:11px 10px 11px 50px;color:#fff;z-index:200;transition:.5s all ease-in-out;-webkit-transition:.5s all ease-in-out}
.fix-r .sw-view.show .form-control{top:0;opacity:1;visibility:visible;animation:sd-InDown .25s 1 linear!important}
.fix-r .sw-view .form-control form{position:relative;padding-right:70px}
.fix-r .sw-view .form-control #auto-search{display:block;width:100%;border:none;border-radius:5em;-webkit-border-radius:5em;color:#454545;padding:10px 20px;line-height:28px;font-size:18px;font-weight:200}
.fix-r .sw-view .form-control #btn-search{position:absolute;top:0;right:0;width:48px;height:48px;font-size:32px;line-height:48px;color:#a13a3a;background:#fff;border:none;border-radius:5em;-webkit-border-radius:5em}
.fix-r .sw-view .close{display:block;width:48px;height:48px;position:absolute;top:0;left:-48px;z-index:201}
.fix-r .sw-view .close:before{display:block;text-align:center;content:"\f104";font:400 32px/48px "FontAwesome";color:#fff;cursor:pointer}*/

@media (min-width:993px){
body{padding-top:55px}
[id="gb-header"]{position:absolute;top:0;left:0;right:0;z-index:199;padding:0}
body:not(.bg-wh) [id="gb-header"]{box-shadow:0 2px 10px rgba(0,0,0,0.3)}
[id="gb-header"].fixed{position:fixed;padding-top:0;padding-bottom:0;animation:sd-InDown .25s 1 linear!important;box-shadow:0 2px 3px rgba(0,0,0,0.3)}
[id="gb-header"].fixed .main-nav>ul[id="secondary-nav"]{display:none}
[id="gb-header"].fixed [class*="logo"] img{max-height:50px;padding:0}
[id="gb-header"].fixed .main-nav>ul>li>a.selected:after{bottom:0}
[id="gb-header"].fixed .fix-r a{padding-top:2px;padding-bottom:2px}
[id="gb-header"].fixed .fix-r a .ic-noti{top:0}
[id="gb-header"]>.container{display:flex;flex-flow:row nowrap;justify-content:center;align-items:center;padding:0}
[id="gb-header"]>.container{position:relative}
[id="gb-header"] [class*="logo"]{max-width:250px;min-width: 125px}
[id="gb-header"] [class*="logo"] img{display:block;margin:0 auto;max-height:50px}
.gheader,[id="gb-header"] .fix-r{display:flex;flex-flow:row nowrap;align-items:center}
.gheader{flex: 1 1 0;justify-content:space-between}
[id="gb-header"] .fix-r{max-width:200px}
.gheader [class*="logo"]{margin-right:10px}
.fix-r .sw-nav{margin-left:3%}
/*.fix-r .sw-view>.btn{display:none}
.fix-r .sw-view .form-control{display:block;width:130px}
.fix-r .sw-view .form-control form{position:relative}
.fix-r .sw-view .form-control form>input{display:block;width:100%;border:none;padding:5px 10px 5px 40px;height:30px;line-height:20px;color:#000;font-size:14px}
.fix-r .sw-view .form-control form>input:focus,.fix-r .sw-view .form-control form>input:active{border-bottom:1px solid #404040}
.fix-r .sw-view .form-control form>.btn{display:flex;justify-content:center;align-items:flex-start;width:30px;height:30px;position:absolute;top:0;left:0;font-size:20px;color:#404040;background:none;border:none}
.fix-r .sw-view .form-control form>.btn:before{display:block;line-height:26px}*/
.main-nav>ul{display:flex;flex-flow:row nowrap;justify-content:center}
.main-nav>ul>li{position:relative;flex-basis:auto !important;flex-grow:0 !important;white-space: nowrap}
.main-nav>ul>li.home{display:none}
.main-nav>ul>li>a{color:#9A9AB2;font-size:16px;padding:0 20px;font-weight:400;line-height:55px}
.main-nav>ul>li.sub>a{padding-right:40px}
/*.main-nav>ul[id="nav-drop"]>li:first-child>a{padding-left:0}
.main-nav>ul[id="nav-drop"]>li:last-child>a{padding-right:0}*/
.main-nav>ul>li>a:hover,.main-nav>ul>li>a.selected{color:#001E64}
.main-nav>ul>li>a.selected:after{content:"";display:block;position:absolute;left:20px;right:20px;bottom:0px;height:3px;background:#001E64;border-radius:5em;-webkit-border-radius:5em}
.main-nav>ul>li.sub>a.selected:after{right: 40px}
.main-nav>ul>li.sub .selected+.sw i{color:#001E64}
.main-nav>ul>li>ul{position:absolute;top:100%;left:0;min-width:200px;padding:10px 0;background:#fff;color:#fff;box-shadow:0 0 12px -2px rgba(0, 0, 0, 0.5);border:none;border-bottom:9px solid #001E64;border-radius:.2em;-webkit-border-radius:.2em}
.main-nav>ul>li:hover>ul,.main-nav>ul>li:active>ul,.main-nav>ul>li:focus>ul{display:block;visibility:visible}
.main-nav>ul>li:hover>a{color:#001E64}
/*.main-nav>ul>li>ul:after{content:"";display:block;position:absolute;top:-9px;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);border-bottom:10px solid #434a54;border-left:10px solid transparent;border-right:10px solid transparent}*/
.main-nav>ul>li>ul li{position:relative;padding:5px 10px}
.main-nav>ul>li>ul li>a{display:block;color:#404040;font-weight:400}
.main-nav>ul>li>ul li>a:hover,.main-nav>ul>li>ul li>a.selected,.main-nav>ul>li>ul li>a.active{color:#001E64;text-decoration:none}
.main-nav>ul>li>ul ul{display:none;position:absolute;width:200px;padding:0;top:0;left:100%;background:#434a54;color:#fff;margin-left:0;z-index:9}
.main-nav>ul>li>ul li:hover>ul{display:block;margin:0}
.main-nav>ul>li.sub .sw{display:block;position:absolute;top:0;right:10px;text-align:right;width:30px}
.main-nav>ul>li.sub .sw i{display:block;float:right;width:30px;height:30px;font-size:18px;text-align:center;line-height:30px;color:#404040}
.fix-r .sw-nav>div{white-space: nowrap}
[id="gb-header"].fixed .drop-user{display:none!important}
[id="gb-header"].fixed #u-member:hover .drop-user{display:block!important}


}
@media (max-width:1600px){
/*[id="gb-header"] [class*="logo"]{max-width:120px}
.main-nav>ul>li>a{padding:20px 15px}*/
/*[id="gb-header"] .fix-r>a{padding:8px 10px}*/
}
@media (max-width:1169px){
/*[id="gb-header"] [class*="logo"]{max-width:80px}
.main-nav>ul>li>a{padding:20px 10px;font-size:14px}
[id="gb-header"] .fix-r a{padding:15px 5px;font-size:14px}*/
}
@media (max-width:992px){
body{padding-top:50px}
body.expand{overflow:hidden;max-height:100vh}
[id="gb-header"]{position:fixed;top:0;left:0;right:0;/*position:relative;background:#fff;*/z-index:201;height:50px;border-bottom: 1px solid #eaeaea}
[id="gb-header"] [class*="logo"]{margin-left:10px;width:180px;height:50px;max-width:180px}
[id="gb-header"] [class*="logo"] img{max-height:50px;vertical-align:middle;display:block}
.main-nav{z-index:202}
.expand .logo{opacity: 0}
.expand .main-nav{z-index:auto;display:block}
.expand .main-nav:after{content:"";display:block;position:fixed;top:0px;left:5%;right:0;bottom:0;background:#001E64;z-index:-1}
[id="gb-header"] [class*="btn-nv"]{display:block}
[id="gb-header"]>.container{display:flex;flex-flow:column wrap}
[id="gb-header"]>.container>[id="navigation"]{order:2;max-height:calc(100vh - 310px);overflow:auto;overflow-x:hidden}
.main-nav>ul{display:none!important;visibility:hidden;/*position:fixed;top:50px;right:0;bottom:0;*/width:95%;max-width:100%;overflow:auto;background:#001E64;z-index:199;margin: 0 0 0 auto;padding-bottom: 100px;max-height: calc(100vh - 120px)}
.expand .main-nav>ul{display:block!important;visibility:visible!important}
.main-nav>ul>li:first-child{}
.main-nav>ul>li{padding:0;border-bottom:1px solid rgba(255,255,255,.15);text-align:left}
.main-nav>ul>li>a{font-weight:400;font-size: 18px; padding:20px 10px 20px 30px;color:#fff}
.main-nav>ul>li>a.selected,.main-nav>ul>li ul>li>a.selected{color:#ffad12}
.main-nav>ul>li>a.selected:after{content:"";display: block; position: absolute;top: 0;left: 0;bottom: 0; width: 4px; height: 100%; background: #ffad12;border-radius: 5em;-webkit-border-radius: 5em}
.main-nav>ul>li.sub{position:relative}
.main-nav>ul>li.sub .sw{display:block;position:absolute;top:0;right:0;text-align:right;width:100%}
.main-nav>ul>li.sub .sw i{display:block;float:right;width:50px;height:62px;text-align:center;line-height:62px;color:#fff}
.main-nav>ul>li.sub .sw.active i{transform:rotate(180deg);-webkit-transform:rotate(180deg)}
.main-nav>ul>li.sub .selected+.sw i{color:#fff}
.main-nav>ul>li.show>ul{display:block!important;visibility:visible!important}
.main-nav>ul>li>ul>li{position:relative;text-align:left;padding:10px 10px 10px 15%;border-top:1px dotted rgba(255,255,255,.3)}
.main-nav>ul>li>ul>li>a:hover,.main-nav>ul>li>ul>li>a.selected{color:#a13a3a}
.main-nav>ul>li ul>li>a{color:#efefef}
.main-nav>ul>li.lang-mobile>a{display: inline-block;vertical-align: middle;color: rgba(255,255,255,.3)}
.main-nav>ul>li.lang-mobile>a.active,.main-nav>ul>li.lang-mobile{color: #fff;border: none}
.main-nav>ul>li.lang-mobile>a+a{padding-left: 10px}

[id="gb-header"] .sw-nav .form-control{top:0;right:0;width:calc(100vw - 50px)}
[role*="search"] .form-control form{border-radius:0;-webkit-border-radius:0}
[id="gb-header"] .fix-r{position:absolute;top:0;left:8%;right:auto;display:flex;height:50px;align-items:center;z-index:199;order:1}
[id="gb-header"] .lg-credit{display: none}
/*.expand [id="gb-header"] .fix-r{display:block;visibility:visible}*/
/*
[id="gb-header"] .fix-r a{padding:0}
[id="gb-header"] .fix-r .gp-login{position:relative;width:30px;height:30px;text-indent:-9999px}
[id="gb-header"] .fix-r .gp-login>a{display:inline-block;font-size:12px}
[id="gb-header"] .fix-r .gp-login>a.register{display:none}
[id="gb-header"] .fix-r .gp-login>a.login{display:block;position:absolute;top:0;left:0;right:0;bottom:0;width:30px;height:30px;text-align:left;text-indent:-9999px;background:url("../di/btn-member.png") 50% 50% no-repeat;background-size:auto 20px}
[id="gb-header"] .fix-r .gp-user{text-align:center}
[id="gb-header"] .fix-r .gp-user>a{display:block;width:30px;height:30px;text-align:left;text-indent:-9999px;}
[id="gb-header"] .fix-r .gp-user>a.avatar img{position:absolute;top:0;left:0;width:30px;height:30px;object-fit:cover}
[id="gb-header"] .drop-user{position:fixed;top:7vh;left:0;right:0;margin:0 auto}
[id="gb-header"] .fix-r .gp-user>a.active:before{content:"";display:block;top:0;left:0;right:0;bottom:0;position:fixed;background:rgba(0,0,0,0.5);z-index:-1}
[id="gb-header"] .fix-r .drop-user{margin-top:10px}
.fix-r .sw-view.show .form-control{padding:10px 10px 10px 35px}
.fix-r .sw-view .form-control form{padding-right:40px}
.fix-r .sw-view .form-control #auto-search{padding:3px 10px}
.fix-r .sw-view .form-control #btn-search{font-size:24px;width:35px;height:35px;line-height:35px;color:#fff;background:none}
.fix-r .sw-view .close{width:30px;height:30px;top:2px;left:-30px}
.fix-r .sw-view .close:before{font-size:24px;line-height:30px}
.fix-r .sw-view>.btn{display: none}
.expand .fix-r .sw-view>.btn{display:block;}
.expand .fix-r .sw-view>.btn>i{color: #fff}*/
}
@-webkit-keyframes sd-InDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}
@keyframes sd-InDown{0%{opacity:0;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}to{opacity:1;-webkit-transform:none;transform:none}}
/*footer*/
[id="gb-footer"]{position:relative;z-index:399;padding:0;border-top:5px solid #2160AD;color:#fff;background:#fff;font-size:14px;margin:0;transition:transform .4s ease,-webkit-transform .4s ease}
[id="gb-footer"] .copyright{background:#313131;text-align:center;color:#aaa;font-size:13px;font-weight:200;padding:5px;margin:0}
.lg-credit{ display: flex; padding: 25px 0; justify-content: center;align-items: center}
[id="gb-footer"] .lg-credit>li{padding: 0 2vw}
.lg-credit>li>a{ display: block;}
[id="back2top"]{position:fixed;right:10px;bottom:-70px;cursor:pointer;text-align:center;z-index:902;transition:.3s all ease-in-out;-webkit-transition:.3s all ease-in-out}
[id="back2top"] i[class*="ic-b2t"]{display:block;margin:0 auto;width:36px;height:36px;background:url("../di/back2top.png") no-repeat;background-size:100% auto}
[id="back2top"] span{display:none;color:#9b9b9b;font-size:14px;font-weight:600}
.follow-us>li:last-child{margin-right:0!important}
.follow-us>li>a{display: block;color: #eaeaea; border-radius: 100%;-webkit-border-radius: 100%;transition: .2s all ease;-webkit-transition: .2s all ease}
.follow-us>li>a:hover{opacity:.75}
.follow-us>li>a.fb{background:#3b5998}
.follow-us>li>a.yt{background:#e52d27}
.follow-us>li>a.line{background:#3ace01}
.follow-us>li>a.yt>i{text-indent:3px}
.follow-us>li>a.cloud{background:#ff8800}
[id="gb-footer"] .follow-us>li>a>i{display: block;width: 32px;height: 32px; text-align: center;color: #fff; line-height: 32px;font-size:18px}
@media (max-width:992px){
.expand [id="gb-footer"]{position: inherit;z-index: inherit;visibility: visible!important}
.expand [id="gb-footer"] .fix-follow{position: fixed;left: 0;right: 0;bottom: 0;z-index: 300;padding: 10px;text-align: center}
}
/*home*/
body>[class*="page-"]{min-height:calc(100vh - 135px)}
body>[class*="page-"]>[id="toc"]{min-height:calc(100vh - 265px)}

[id="toc"] [class^="sec-"]{padding:20px 0}
[id="toc"] [class^="sec-"].pt0{padding-top:0}
[id="toc"] [class^="sec-"].pb0{padding-bottom:0}
[id="toc"] [class^="z-"]{position:relative;clear:both;margin-bottom:20px}
[id="toc"] [class^="z-"][class^="last"]{margin-bottom:0}
[id="toc"] [class^="z-"]:after{content:"";display:block;clear:both}

[class*="ui-btn"]{padding:10px 20px;font-size:16px;min-width:150px;text-align:center;border-radius:.5em;-webkit-border-radius:.5em;box-shadow:none;background:no-repeat;background-size:100%;transition:.3s all ease-in-out;-webkit-transition:.3s all ease-in-out}
[class*="ui-btn"][class*="-min"]{min-width:50px;padding-left:8px;padding-right:8px}
[class*="ui-btn"][class*="-sq"]{border-radius:.2em;-webkit-border-radius:.2em}
[class*="ui-btn"][class*="green"]{background-color:#0dc2a5}
[class*="ui-btn"][class*="pink"]{background-color:#a13a3a;color:#fff}
[class*="ui-btn"][class*="violet"]{background-color:#602ca3;color:#fff}
[class*="ui-btn"][class*="blue"]{background-color:#2193ff}
[class*="ui-btn"][class*="blue2"]{background-color:#01a8e6}
[class*="ui-btn"][class*="darkblue"]{background-color:#216DEE}
[class*="ui-btn"][class*="yellow"]{background-color:#fdda39;color:#1f1f1f}
[class*="ui-btn"][class*="red"]{background-color:#C94949;color:#fff}
[class*="ui-btn"][class*="orange"]{background-color:#EF5026;color:#fff}
[class*="ui-btn"][class*="gray"]{background-color:#efefef;border:1px solid #D7DAE2;color:#333}
[class*="ui-btn"][class*="gray2"]{background-color:#a0a0a0;border:none;color:#fff}
[class*="ui-btn"][class*="darkgray"]{background-color:#939496;color:#fff}
[class*="ui-btn"][class*="border"]{background-color:transparent;color:#00075A;border:1px solid #302C2C;}
[class*="ui-btn"][class*="border"]:hover{color:#fff;background-color:#00075A; border:1px solid #302C2C;}
[class*="ui-btn"][class*="border"] i{color: #000;font-size: 24px;display: inline-block;vertical-align:bottom; margin-left: 5px; transition:.3s all ease-in-out;-webkit-transition:.3s all ease-in-out}
[class*="ui-btn"][class*="border"]:hover i{color: #fff}
[class*="ui-btn"][class*="border"][class*="-wh"]{border-color: #fff;color: #fff}
[class*="ui-btn"][class*="border"][class*="-wh"] i{color: #fff}
[class*="ui-btn"][class*="tag"]{background-color:#fff;color:#a13a3a;border:1px solid #a13a3a!important;min-width:inherit}
[class*="ui-btn"]:hover{box-shadow:0 -4px 0 rgba(0,0,0,0.1) inset;background-position:100% 50%;border-color:transparent}
/*[class*="ui-btn"] [class*="fa"]{vertical-align:sub}*/
#toc .t-white,.t-white{color:#fff}
#toc .t-green,.t-green{color:#43a047}
#toc .t-green2,.t-green2{color:#64C12B}
#toc .t-blue,.t-blue{color:#001E64}
#toc .t-blue2,.t-blue2{color:#50B5FF}
#toc .t-orange,.t-orange{color:#F99C19}
#toc .t-yellow,.t-yellow{color:#FFD914}
#toc .t-gray,.t-gray{color:#434343}
#toc .t-gray2,.t-gray2{color:#92929D}
#toc .t-black,.t-black{color:#000}
#toc .t-violet,.t-violet{color:#7246FF}
#toc .t-pink,.t-pink{color:#a13a3a}
#toc .t-red2,.t-red2{color:#F83E3F}
#toc .t-red,.t-red{color:#dc3731}
.f-sarabun{font-family:"Sarabun"}
.f-kanit{font-family:"Kanit"}
form label{color:#6a6a6a;display:inline-block}
.txt-box,.select-box,.txt-area{display:block;padding:5px 0;line-height:25px;font-size:14px;border:none;border-bottom:1px solid #cacaca;border-radius:0;-webkit-border-radius:0;background:#fff}
.txt-box.cr{border-radius:5em;-webkit-border-radius:5em}
.txt-box.trans{border:none}
.txt-box[readonly]{background:#ededed;padding-left:15px}
.select-box{background:#efefef}
.select-box.bg-wh{background:#fff}
.select-box option{padding:0 5px}
.select-box.f-big{/*font-size:18px;*/color:#000}
.select-box.f-big option{font-size:14px;color:#2f2f2f}
.select-box.bd,.txt-box.bd, form .bd{border:1px solid #bfbfbf;padding-left:10px;padding-right:10px;border-radius:.3em;-webkit-border-radius:.3em}
.txt-box.dash{border:2px dashed #d0d0d0;padding-left:10px;padding-right:10px;border-radius:.3em;-webkit-border-radius:.3em}
.select-box.bd{padding:2px 10px}
select option{font-family:"Kanit"}
textarea{display:block;width:100%;max-width:100%;min-height:100px;resize:vertical;border:1px solid #cacaca;padding:10px;border-radius:.3em;-webkit-border-radius:.3em}
.block{display:block;width:100%}
.offsrc{opacity:0;width:100%;position:absolute;top:0}
/*select box*/
.cv-select *{-webkit-appearance:none;appearance:none;cursor:pointer;width:100%;min-width:80px}
@media screen and (-webkit-min-device-pixel-ratio:0) {.cv-select *{padding-right:24px}}
.cv-select{display:inline-block;position:relative/*;min-height:36px*/}
.cv-select *[class*=" cr"]{border-radius:2em;-webkit-border-radius:2em}
.cv-select:after{content:"\f0d7";font:900 14px "FontAwesome";color:#000;display:block;pointer-events:none;position:absolute;top:50%;right:12px;transform:translateY(-50%);-webkit-transform:translateY(-50%);z-index:9}
.bg-gray{background:#efefef}
.bg-wh{background:#fff}
.bg-green{background:#0cc2a5;color:#fff}
.bg-violet{background:#602ca3;color:#fff}
/*check*/
.mz-chk{position:relative}
.mz-chk input[type=checkbox],.mz-chk input[type=radio]{position:absolute;width:100%;height:100%;opacity:0}
.mz-chk input+label{position:relative;height:30px;line-height:30px;padding-left:35px}
.mz-chk input+label:before{content:"";display:block;width:25px;height:25px;position:absolute;top:0;left:0;background:#fff;text-indent:-9999px;cursor:pointer;border:2px solid #9F9F9F;border-radius:.3em;-webkit-border-radius:.3em}
.mz-chk.cr input+label:before{border-radius:5em;-webkit-border-radius:5em}
.mz-chk input:checked+label:before{background:#fff url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='7 5 30 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%232699FB' fill-rule='nonzero'/%3E%3C/svg%3E ") 5px 5px no-repeat}
.mz-chk input:checked+label:before{background-color:#fff;border-color:#BCE0FD}
/*switch toggle*/
.toggle {cursor:pointer;display:inline-block}
.toggle-switch {display:inline-block;background:#ccc;border-radius:16px;width:58px;height:32px;position:relative;vertical-align:middle;transition:background 0.25s}
.toggle-switch:before, .toggle-switch:after {content:""}
.toggle-switch:before {display:block;background:linear-gradient(to bottom, #fff 0%, #eee 100%);border-radius:50%;width:24px;height:24px;position:absolute;top:4px;left:4px;transition:left 0.25s}
.toggle:hover .toggle-switch:before {background:linear-gradient(to bottom, #fff 0%, #fff 100%);box-shadow:0 0 0 1px rgba(0, 0, 0, 0.2)}
.toggle-checkbox:checked+.toggle-switch {background:#56c080}
.toggle-checkbox:checked+.toggle-switch:before {left:30px}
.toggle-checkbox{position:absolute;visibility:hidden}
.toggle-label{margin-left:5px;position:relative;top:2px}


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,input:-webkit-autofill:focus,input:-webkit-autofill:hover,select:-webkit-autofill,select:-webkit-autofill:focus,select:-webkit-autofill:hover,textarea:-webkit-autofill,textarea:-webkit-autofill:focus,textarea:-webkit-autofill:hover{border:0;-webkit-text-fill-color:#195d51;-webkit-box-shadow:none;transition:background-color 5000s ease-in-out 0s}

.wrap-rating{}
.wrap-rating>*{display:inline-block;vertical-align:middle}
.wrap-rating .r-user{height:15px;line-height:15px;font-weight:400;font-size:13px;color:#121212;margin-left:4px}
.rating{position:relative;width:107px;height:20px;background:url(../di/ic-star.png) repeat-x;background-size:auto 100%}
.rating .star{display:block;position:absolute;top:0;left:0;height:20px;/*min-width:20px;*/background:url(../di/ic-star-act.png) repeat-x;background-size:auto 100%;text-indent:-9999px}
.rating.big{width:160px;height:30px}
.rating.big .star{height:30px}
.rating.mini{width:80px;height:15px}
.rating.mini .star{height:15px}
.rating.wh{background-image:url("../di/ic-star-wh.png")}
.rating.wh .star{background-image:url("../di/ic-star-wh-act.png")}


/*home*/
[class*="head-title"]{position:relative;margin-bottom:25px;display:flex;flex-flow:row wrap;align-items:flex-end;}
[class*="head-title"].border0{border-bottom: none}
[class*="head-title"].mb15{margin-bottom:15px}
[class*="head-title"].mb0{margin-bottom:0}
[class*="head-title"] [class*="h-text"]{line-height:100%}
[class*="head-title"] .more{display:inline-block;font-size:19px;font-weight:500;color:#a13a3a;border-bottom:1px solid transparent}
[class*="head-title"] .more:hover{border-bottom:1px solid #a13a3a}

/*[class*="h-line"]>*,[class*="h-line"]>a{display:inline-block;position:relative;color:#a13a3a;font-weight:500;font-size:28px}
[class*="h-line"]>.arrow:after,[class*="ic-more"]{display:inline-block;content: ""; margin-left: 5px; width: 16px; height: 16px; background: url("../di/arrow-right.png") no-repeat; background-size: 100% autocolor:#a13a3a}
.bg-dark [class*="h-line"]>.arrow{filter: brightness(0) invert(1);-webki-filter: brightness(0) invert(1)}
[class*="h-line"]>small{font-size:21px;line-height:190%}*/
[class*="h-line"]{position: relative; width: 100%}
[class*="h-line"]>a{position: relative;z-index: 2; display: inline-block; padding: 0 15px 0 0; background: #fff; color: #001E64; font-weight: 600; font-size: 32px}
[class*="h-line"]:after{position: absolute; z-index: 1; top: 50%;left: 0; right: 0; content: "";display: block;border-bottom: 1px solid #F99C19}

[class*="h-text"]{ font-size: 32px; color: #001E64;font-weight: 600}
.bg-dark  [class*="h-text"]{color: #fff}
[class*="h-text"].small{font-size:24px}
[class*="h-text"] small{display: block; color: #92929D;font-size: 16px; font-weight: 400; margin-top: 8px}
/*[class*="h-line"]>*:before{content:"";display:none;position:absolute;bottom:0;left:0;right:0;height:4px;background:#a13a3a;border-radius:5em;-webkit-border-radius:5em}*/
/*
.slick-slider .slider{overflow:hidden}
.slick-slider .slider>div:not(:first-child):not(.slick-list){display:none}
.slick-slider .slick-slider .slick-track{padding-bottom:10px}
.slick-slider .slick-slider .slick-track a img{max-height: 607px; min-height: 200px; object-fit: cover;max-width: 100%;}
.slick-slider .slick-dots{position:relative;margin-top:10px;bottom:auto}
.slick-slider .slick-dots li button:before{font-size:14px;width:25px;height:25px;color:#f2b7b7;-webkit-text-stroke: 1px #a13a3a; opacity:1}
.slick-slider .slick-dots li.slick-active button:before{color:#a13a3a;opacity:1}
.slick-slider .slick-prev,.slick-slider  .slick-next{width:64px;height:64px}
.slick-slider .slick-prev:before,.slick-slider  .slick-next:before{display:block;height:100%;content:"";background:url("../di/btn-slide-arrow.png") no-repeat;background-size:auto 100%}
.slick-slider  .slick-next:before{background-position:100% 0}
.author-slider .slick-prev,.author-slider .slick-next{width:32px;height:32px;top:calc(50% - 16px);text-shadow:0 1px 2px rgba(0,0,0,0.35)}
.author-slider .slick-prev{left:0}
.author-slider .slick-next{right:0}
.sub-slider.slick-dotted.slick-slider{margin-bottom:0}
.sub-slider .slick-list{margin-left:-20px;margin-right:-20px}
.sub-slider .slick-track>.slick-slide{margin:0 20px}

.author-slider article>a{display:block;text-align:center;color:#1f1f1f;padding:10px 5px}
.author-slider article>a>figure{position: relative;}
.author-slider article>a>figure:before{content: "";display: block;padding:80% 0 0}
.author-slider article>a>figure>img{position:absolute;top:0;left:0;right:0;bottom:0;display:block;margin:0 auto 15px;width:80%;height:100%;object-fit:cover;max-width:80%;box-shadow:0 0 7px rgba(0,0,0,0.5);border-radius:100%;-webkit-border-radius:100%;transition:.2s all ease-in-out .1s;-webkit-transition:.2s all ease-in-out .1s;transform:scale(1);-webkit-transform:scale(1)}
.author-slider article>a:hover>figure>img{transform:scale(1.1)}
.author-slider article>a h3{font-size:16px;line-height:120%;margin-top:8px;height: 40px;}
[id=writer_list] .slick-dots{max-width:100vw}*/
.bg-hl{background: #EBEDF8;padding: 30px 0}
.bg-light{background: #F5F6FB;padding: 30px 0}
.bg-dark{background: #1E1E1E; color: #fff;padding: 30px 0}
.bg-dark a{color: #fff}
/*dashboard*/
.sec-hl{position: relative}
.sec-hl .navbr-cv{position: absolute;top: 0; left: 0;right: 0}
.sec-hl .navbr-cv>a{display: block;position: absolute; top: 5px;padding: 8px 0;color: #929292; font-size: 20px;}
.sec-hl .navbr-cv>a>i{color: #001E64;font-size: 24px; margin: 0 8px}
.sec-hl .navbr-cv>a:hover{color: #001E64}
.sec-hl .navbr-cv>.nav-l{ left: 0}
.sec-hl .navbr-cv>.nav-r{ right: 0}
.sec-hl .btn-more>a{display: inline-block; color: #000; font-size: 20px;font-weight: 500}

.css-graph-bar{ display: flex;flex-flow: row nowrap}
.css-graph-bar>li{display: inline-flex; flex-flow:row wrap;align-items:center; justify-content: flex-end; padding: 5px 1rem 10px}
.css-graph-bar>li:first-child{border-radius: 1rem 0 0 1rem;justify-content: flex-start;}
.css-graph-bar>li:last-child{border-radius:0 1rem 1rem 0}
.css-graph-bar>li>div{text-align: left}
.css-graph-bar>li.c1{background: #E24F50}
.css-graph-bar>li.c2{background: #6AB83A}
.css-graph-bar>li.c3{background: #F99C19}
.css-graph-bar>li>div>*{display:block;flex-basis: 100%;max-width: 100%;}
.css-graph-bar>li>div>span{font-size: 14px; color: #fff}
.css-graph-bar>li>div>em{font-size: 30px; color: rgba(0,0,0,0.35); line-height: 100%;font-style: normal}

[id="rank-covid19"] {
    height: auto;
    max-height: 400px;
}
.head.tb-rank{background: #001E64;padding-right: 10px}
.tb-fixed.tb-rank{background: #CEDDEB;padding-right: 30px}
.head.tb-rank{border-radius: .5rem .5rem 0 0;overflow: hidden}
.tb-fixed.tb-rank{border-radius: 0 0 .5rem .5rem;overflow: hidden}
.tb-rank,.list-rank>li{display: flex;flex-flow: row nowrap}
.tb-rank>*,.list-rank>li>*{flex: 1 1 0;padding: 5px;}
[class*="-rank"] .c1{flex-basis: 40px; max-width: 40px;padding-left: 10px}
[class*="-rank"] .c1,[class*="-rank"] .c2{text-align: left}
[class*="-rank"] .c3,[class*="-rank"] .c4,[class*="-rank"] .c5{ text-align: right;flex-basis: 20%;max-width: 20%; font-weight: 200}
[class*="-rank"] .c2{white-space: nowrap;max-width: 32%;overflow:hidden;text-overflow: ellipsis}
[class*="-rank"] .c3{color: #F99C19}
[class*="-rank"] .c4{color: #64C12B}
[class*="-rank"] .c5{color: #F83E3F}
.head.tb-rank>.c3,.head.tb-rank>.c4,.head.tb-rank>.c5{text-align: center;color: #fff}
.head.tb-rank>*{color: #fff}
.list-rank>li>*{border-bottom: 1px dashed #D3D3D3}
.inner{position: relative}
.z-map-th .hd{position: absolute;top: 0;right: 0;left: 0;z-index: 9}
.z-map-th .hd>li{display: flex;flex-flow: row nowrap; justify-content: flex-end;align-items: center;font-size: 20px; color: #000}
.z-map-th .hd>li>h3{font-size: 20px; color: #000;margin: 0;flex: 1 1 0;max-width: 60%;text-align: right;white-space: nowrap}
.z-map-th .hd>li>big{ font-style: normal;color: #F99C19;flex-basis: 20%;max-width: 20%; text-align: right;padding-right: 10px;}
.z-map-th .hd>li>span{ flex-basis: 40px;max-width: 40px}
.box{position: absolute; z-index: 99; width: 310px; max-width: 95%; background: #fff;padding: 15px; border-radius: 1.2em;-webkit-border-radius: 1.2em; box-shadow:0px 20px 20px rgba(35, 107, 201, 0.15);text-align: center}
.box.rlt{position:relative;top: auto;left: auto; width: auto;max-width: 100%}
.box .close{position: absolute;top: 5px; right:5px;display: block;width: 40px;height: 40px;}
.box .close:before,.box .close:after{content: "";display: block; position: absolute; width: 60%;left: 20%; top: 50%; height: 1px; background: #D3D3D3}
.box .close:before{transform: rotate(45deg)}
.box .close:after{transform: rotate(-45deg)}
.box .close:hover:before,.box .close:hover:after{background: #c00}
[class*="sq-box"]>p{ font-size: 18px;}
[class*="sq-box"]>p em{font-style: normal;font-size: 110%;font-weight: 200;}
.box ul.d-flex{border-top:1px solid #D3D3D3;padding-top: 10px;margin-left: -10px; margin-right: -10px}
.box ul.d-flex em{ font-style: normal;font-size: 150%;font-weight: 400;color: #F99C19}
.box ul.d-flex>li{flex: 1 1 0; margin: 0 10px;height: 70px; display: flex;flex-flow: column wrap; align-items: center; justify-content: center; border-radius: 10px; background: #F1F1F5}
[class*="world-box"]>p{margin-top: 10px}
[class*="world-box"]>p>span{ padding: 0 5px}
[class*="world-box"]>p>span:first-child{border-right: 1px solid #D3D3D3;margin-right: -3px}

[class*="th-box"]{ position:relative;top: auto;left: auto; width: auto}
[class*="th-box"] .top{display: flex;flex-flow: row wrap;text-align: left;align-items: center;margin-bottom: 10px}
[class*="th-box"] .top>*{flex: 1 1 0}
[class*="th-box"] .top>i{max-width: 30%}
[class*="th-box"] .top i img{display: block; max-width: 60%; margin: 0 auto}
[class*="th-box"] .top h3{color: #001E64;font-size: 18px}
[class*="th-box"] .top h3 big{display: block; line-height: 120%; margin-top: -5px; color: #F99C19;font-size: 300%;font-weight:400}
[class*="th-box"] .top .nation{border-left: 1px solid #F1F1F5;padding-left: 10px}
[class*="th-box"] .top .nation>span{display: block;color: #001E64;font-size: 16px;padding: 10px 1rem}
[class*="th-box"] .top .nation>span:first-child{border-bottom: 1px solid #F1F1F5;padding-top: 0}
[class*="th-box"] .top .nation>span em{display: block; font-size: 24px; color: #F99C19;font-style: normal;line-height: 120%}
.box[class*="th-box"] ul.d-flex{border-top-color: #F1F1F5;}
.box[class*="th-box"] ul.d-flex>li{background-color: #dcf0ff; height: 105px; /*flex: 1 1 0; margin: 0 10px;*/ max-width: none;}
.box[class*="th-box"] ul.d-flex>li:last-child{background-color: #fedede}
.box[class*="th-box"] ul.d-flex>li>div{color: #001E64}
[class*="sq"][class*="-box"]{padding: 1.5rem; margin-bottom: 35px}
[class*="sq1"][class*="-box"]{display: flex;flex-flow: row wrap;align-items: stretch}
[class*="sq1"][class*="-box"]>.left{position: relative;flex-basis:42%;max-width: 42%;padding-right: 20px;text-align: left;display: flex;flex-flow: column;justify-content: space-around;}
[class*="sq1"][class*="-box"]>.list-sq{flex-basis:58%;max-width: 58%}
[class*="sq1"][class*="-box"]>.left:after{ content: "";display: block;position: absolute; top: 50%;left: 0;right:20px;border-bottom:1px solid #F1F1F5}
[class*="sq1"] .left h3{ color: #001E64;font-size: 20px}
[class*="sq1"] .left big{display: block;font-size: 280%;font-weight: 600}
.list-sq>li{display: flex;flex-flow: row nowrap;padding: 15px 1rem; background: #F5F6FB; border-radius: 1rem; justify-content: space-between}
.list-sq>li:not(:last-child){margin-bottom: 20px}
.list-sq>li>*{ color: #000;font-size: 16px}
.list-sq>li>em{color: #F99C19;font-style: normal}
[class*="sq2"][class*="-box"]{padding-top:5px;padding-bottom:5px}
[class*="sq2"][class*="-box"] .list-sq>li{ padding:15px 0; background: none; border-bottom:1px solid #F1F1F5;margin-bottom: 0}
[class*="sq2"][class*="-box"] .list-sq>li:last-child{border-bottom: none}
[class*="sq2"][class*="-box"] .list-sq>li>*{font-size: 20px;color: #001E64;text-align: left}
[class*="sq2"][class*="-box"] .list-sq>li>span{text-align: right;white-space: nowrap}
[class*="sq2"][class*="-box"] .list-sq>li em{color: #F99C19;font-style: normal}

.sec-hl [class*="sq"][class*="-box"]{margin: 0}
.sec-hl [class*="sqh"][class*="-box"]>.top h3{ font-weight: 600;font-size: 200%; color: #254286}
.sec-hl [class*="sqh"][class*="-box"]>.top h3 big{display: block; font-weight:600; font-size: 400%;line-height: 130%;margin-top: -10px}
.sec-hl [class*="sq1"][class*="-box"]>.left{flex: 1 1 0;max-width: none}
.sec-hl [class*="sq1"][class*="-box"]>.list-sq{flex-basis: 30%;max-width: 30%}
.sec-hl [class*="sq1"][class*="-box"]>.list-news{flex-basis: 50%;max-width: 50%}
.sec-hl [class*="sq1"][class*="-box"]>.btn-more{flex-basis: 100%;max-width: 100%}
.sec-hl [class*="sq1"] .left big{line-height: 140%}
.sec-hl [class*="sq1"][class*="-box"]>.left:after{margin-top: -5px}
.sec-hl .list-sq>li>*{font-size: 20px}
.sec-hl .list-sq>li>em{font-weight:600}
.sec-hl [class*="sqh1"] .list-sq>li{justify-content: center; align-items: center; padding-top:5px;padding-bottom:5px}
.sec-hl [class*="sqh1"] .list-sq>li:nth-child(1){background-color: rgba(80, 181, 255, 0.1)}
.sec-hl [class*="sqh1"] .list-sq>li:nth-child(2){background-color: rgba(114, 70, 255, 0.1)}
.sec-hl [class*="sqh1"] .list-sq>li:nth-child(3){background-color: rgba(255, 217, 20, 0.1)}
.sec-hl [class*="sqh1"] .list-sq>li>i{display: inline-block; width: 64px;height: 64px; margin-right: 2.5vw; background: url("../di/fight.png") 50% 50% no-repeat; background-size: cover}
.sec-hl [class*="sqh1"] .list-sq>li>i[class="ic-bus"]{background-image: url("../di/bus.png")}
.sec-hl [class*="sqh1"] .list-sq>li>i[class="ic-boat"]{background-image: url("../di/boat.png")}
.sec-hl [class*="sqh1"] .list-sq>li>div{ flex-basis: 30%;max-width: 30%;text-align: left;font-size: 20px; color: #001E64}
.sec-hl [class*="sqh1"] .list-sq>li>div>em{display: block;font-size: 250%;line-height: 100%; font-style: normal;font-weight: 600}
.sec-hl [class*="sqh2"] .list-sq>li{margin-bottom: 10px;padding-top: 11px;padding-bottom: 11px;}
.sec-hl [class*="sqh"] .list-sq>li>div{text-align: left}
.list-news{padding-left: 35px}
.list-news>li:not(:last-child){margin-bottom: 10px}
.list-news>li>a{display: flex;flex-flow: row nowrap; background: #F1F1F1;border-radius: 1.2rem}
.list-news>li>a>figure{position: relative;}
.list-news>li>a>figure>img{display: block;max-height:110px;border-radius: 1.2rem}
.list-news>li>a>.info{flex: 1 1 0;max-width: 100%;padding-left: 20px; display: inline-flex;flex-flow: column wrap; justify-content: center;align-items: flex-start;text-align: left}
.list-news>li>a>.info>h3{ font-size:16px; line-height: 20px; color: #001E64;margin-bottom: 7px}
.list-news>li>a>.info>p{ font-size: 14px; line-height: 20px;color: #92929D;margin-bottom: 0}
.list-news>li>a>.info>p i{display: inline-block;margin-right: 5px}
.css-donut>div{top: 0;left: 0}
[class*="line-box"]{width: 180px;max-width: 100%}
[class*="line-box"]>h3{font-size: 20px;line-height: 30px; text-align: left;color: #000}
[class*="line-box"]>ul>li{display: flex;flex-flow: row nowrap;justify-content:space-between}
[class*="line-box"]>ul>li>*{font-size: 12px; line-height: 18px; color: #92929D}
[class*="line-box"]>ul>li>em{font-style: normal}
/*thm*/
[class*="thm-"]{}
[class*="thm-"] a{display:inline-block;text-decoration:none;transition:.2s all ease}
[class*="thm-"] img{max-width:100%;object-fit:cover;transition:.2s all ease-in-out .1s;-webkit-transition:.2s all ease-in-out .1s}
[class*="thm-"] figure img,[class*="thm-"] figure>a{display:block}
[class*="thm-"] article .tools>*{display:inline-block;color:#929292;font-size:14px;padding:0 5px;font-weight:500}
[class*="thm-"] article .tools>i{padding: 0}
[class*="thm-"] article .tools>* i{display:inline-block;font-size:16px;padding: 0}

[class*="thm-news"] article{margin-bottom: 20px}
[class*="thm-news"] article .in figure{padding-top:0;position:relative;margin-bottom: -20px;overflow: hidden;border-radius:1rem 1rem 0 0;-webkit-border-radius:1rem 1rem 0 0;}
[class*="thm-news"] article .in figure:before{content: "";display: block;padding: 70% 0 0}
[class*="thm-news"] article .in figure img{overflow:hidden;}
[class*="thm-news"] article .in figure>img{position:absolute;top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;object-fit: cover;}
[class*="thm-news"] article .in figure:hover img{transform:scale(1.1)}
[class*="thm-news"] article[class*="big"] .in figure:before{padding-top: 35%}
[class*="thm-news"] article[class*="big"] .in .detail{min-height: inherit}
/*[class*="thm-news"] article .in figure:hover img{transform:translateY(-10px);-webkit-transform:translateY(-10px);box-shadow:0 9px 20px -1px rgba(0, 0, 0, 0.5)}*/

[class*="thm-news"] article .detail{position: relative;z-index: 2; text-align:left;padding:15px 20px;background: #F1F1F1;border-radius: 1rem;min-height: 166px}
[class*="thm-news"] article .detail a:hover{color:#001E64}
[class*="thm-news"] article h3{font-size:18px; line-height:20px; max-height: 40px; overflow: hidden;font-weight:400;margin-bottom:5px;color: #001E64}
[class*="thm-news"] article p{ font-size: 14px; line-height: 16px; /*max-height:48px;*/ overflow: hidden;font-family: "Sarabun"; color: #121212}
[class*="thm-news"] article p{margin: 0;max-height: none}
[class*="thm-news"] article p>:not(span){display: none}
[class*="thm-news"] article p>span{display: block;max-height: 54px; line-height: 18px; overflow:hidden}
[class*="thm-news"] article[class*="big"] h3{font-size: 22px;margin-bottom: 15px;max-height: none;line-height: 120%}
[class*="thm-news"] article .tools{font-size: 14;  color: #92929D;font-family:"Sarabun";margin: 10px 0;}
[class*="thm-news"] article .tools>span{display: inline-block;font-size: 14px;font-weight: 400;color: #92929D}
/*category*/
[class*="page-"]>.cover{position:relative}
/*main read*/
.crumb{position:relative;padding:15px 0}
.crumb *{display:inline-block;vertical-align:middle;font-weight:400;color:#333;font-size:14px;line-height:28px;margin:0 5px}
.crumb a{position:relative;text-decoration:none;color:#001E64}
.crumb a:after{content:"";display:block;position:absolute;left:0;right:0;bottom:0;border-bottom:1px solid #001E64}
.crumb a:first-child{margin-left:0}
.crumb a:hover{text-decoration:none}
i[class*="ic-"]{display:inline-block;vertical-align:middle;width:32px;height:25px;margin-right:5px;background-repeat:no-repeat;background-position:50% 50%;background-size: 100% auto}
i[class*="ic-"][class*="view"]{background-image: url("../di/ic-view.png")}
i[class*="ic-"][class*="sh-fb"]{width: 24px; height: 24px; background-image: url("../di/ic-facebook-black.png")}
i[class*="ic-"][class*="sh-line"]{width: 24px; height: 24px;background-image: url("../di/ic-line-black.png")}
i[class*="ic-"][class*="sh-line"]:after{display:none}
i[class*="ic-"][class*="sh-tw"]{width: 24px; height: 24px;background-image: url("../di/ic-twitter-black.png")}

[id="toc"] [class^="sec-detail"]{padding: 20px}
.sec-detail>.cover{display: block;padding: 0;max-width: 100%;margin-bottom: 20px}
.sec-detail>.cover img{display: block;width: 100%; max-height: 607px;object-fit: cover;margin: 0 auto}
.reader{font-family:"Kanit";color:#313131;line-height:30px;font-size:16px}
.sec-detail .reader{width:900px; margin-left: auto; margin-right: auto; max-width: 100%}
.sec-detail .hgroup{padding-top: 20px;padding-bottom: 20px}
.sec-detail .hgroup[class*="pt0"]{padding-top: 0}
.sec-detail .hgroup h1{ font-size: 32px; font-weight:600; color:#001E64;line-height: 120%;margin: 0 0 15px;padding-bottom: 15px; border-bottom: 1px solid #F99C19}
.sec-detail .hgroup .date{display: block;color: #92929D;font-weight:400; font-size: 16px;}
.sec-detail .hgroup .date i{font-size: 21px;margin-right: 8px}
.sec-detail .tool-bar{}
.sec-detail .share,.sec-detail .share .list{display: flex;flex-flow: row nowrap;align-items: center}
.sec-detail .share .list>*{margin-left: 10px}
.sec-detail .share>span i{font-size: 21px}
.sec-detail .share>span,.sec-detail .tool-bar .view{color: #92929D;font-weight:400;font-size: 16px}
.reader p{margin-bottom:20px}
.reader .read-body,.reader .editor{color: #313131;font-family: "Sarabun"}
.reader .read-body figure,.reader .editor figure{margin-bottom: 20px}
.reader .read-body p{line-height:200%}
.reader .read-body p span{display: inline-block!important;line-height: normal!important;}
.reader .read-body ul>li{list-style: disc inside;}
.reader .read-body ol>li{list-style: decimal inside;}
.read-body img,.read-body input[type="image"]{max-width:100%;height:auto!important}
.reader div{clear:both}
.reader .read-body .ft-gallery>li{list-style-type: none;}
.f-lite{font-weight: 200!important}
.f-normal{font-weight: 400!important}
.f-bold{font-weight: 700!important}
.reader .text-hl{ margin-bottom: 20px}
.reader .text-hl h2{font-size: 18px; color: #001E64;font-weight: 400;margin-bottom: 5px}
.reader .text-hl ul{padding: 10px; background: #f2f2f2;border-radius: .2rem;-webkit-border-radius: .2rem}
.reader .text-hl ul>li{position: relative;padding-left: 22px;font-family: "Sarabun";font-weight: 200;}
.reader .text-hl ul>li:not(:last-child){margin-bottom: 10px}
.reader .text-hl ul>li:before{content: "";display: block;width: 8px; height: 8px; background: #001E64;border-radius: 5em;-webkit-border-radius: 5em;position: absolute;top: 12px; left: 5px;}
/*.sec-vdo [class*="thm-news"][class*="player"] article .in figure > a:before{ padding-top: 50%}
.sec-vdo .reader p{margin-bottom: 0}
.sec-vdo .reader p a:hover,.reader p a:hover{color: #a13a3a}
.vdo-info{margin-top: 10px}
.sec-vdo .reader .tool-bar .view{border-left: 1px solid #acacac;padding-left: 20px; margin-left: 10px}

.podcast-view{position: relative; padding: 25px 25px 10px; background: url("../di/bg-podcast-y.png") 50% 0 no-repeat; background-size: 100% 100%;margin-bottom: 30px}
.podcast-view .card{max-width: 70%;margin-bottom: 30px}
.podcast-view .card img{width: 125px; max-width: 20%}
.podcast-view .card .info{ padding: 15px;color: #fff; background: #242a4a}
.podcast-view .card .info .tag a{display: block;font-size: 15px; font-weight: 300; color: #ffad12}
.podcast-view .card .info h1{margin: 20px 0;font-size: 24px;font-weight: 400}
.podcast-view .btn-share{position: absolute;top: 25px; right: 25px;}
.podcast-view .audio audio{display: block;width: 100%; height: 50px}
.podcast-view .audio .control{height: 50px;}
.podcast-view .audio .control .g-btn i{ color:#C73A3A;margin: 0 5px;font-size: 24px; width: 48px; height: 48px; line-height: 44px; border: 2px solid #C73A3A;cursor: pointer;border-radius: 5em;-webkit-border-radius: 5em}
.podcast-view .audio .control .g-btn i[class*="ward"]{width: 32px; height: 32px; font-size: 18px; text-align: center; line-height: 28px}
.podcast-view .audio .control .time-line{position: relative;background: rgba(199, 58, 58,0.2); width: 100%;height: 3px;border-radius: 5em;-webkit-border-radius: 5em;margin: 0 15px}
.podcast-view .audio .control .time-line>*{display:block;position: absolute;top: 0;left: 0; height: 3px;background: rgba(199, 58, 58,0.4); }
.podcast-view .audio .control .time-line>*.current{background: #C73A3A; z-index: 9}
.podcast-view .audio .control .view-time{ color: #C73A3A; font-size: 12px;}*/
.ctrl-paging>*{font-size:17px;color:#a13a3a;vertical-align:middle}
.ctrl-paging>[class*="ui-btn"]{color:#a13a3a;font-size:24px;padding:0}

.js-select .select2-container--default .select2-selection--single{border-color: #505050;background: none}
.js-select .select2-container--default .select2-selection--single .select2-selection__rendered{color: #404040}
.js-select .select2-container--default .select2-selection--single .select2-selection__arrow b{border-color: #404040 transparent transparent transparent}
#select2-select-bg-results li:nth-child(1){background: #fff;color: #1f1f1f}
#select2-select-bg-results li:nth-child(2){background: #d6b582;color: #191919}
#select2-select-bg-results li:nth-child(3){background: #000;color: #fff}

/*lightbox*/
.fancybox-slide--video .fancybox-content {width  :980px;
    height :600px;
    max-width  :80%;
    max-height :50%;
    margin:0;
}
.fancybox-close-small{}
.fancybox-close-small:before,.fancybox-close-small:after{content:"";display:block;width:50%;height:1px;background:rgba(0,0,0,0.7);border-radius:5em;-webkit-border-radius:5em;transform-origin:center;position:absolute;top:50%}
.fancybox-close-small:before{transform:rotate(45deg);left:25%}
.fancybox-close-small:after{transform:rotate(-45deg);right:25%}
.fancybox-close-small:hover:after{background:rgba(0,0,0,0.7)}
.thm-popup{display:none;width:900px;max-width:95%;padding:0;border-radius:.3em;-webkit-border-radius:.3em;font-family:"Kanit"}
.thm-popup>.inner{display:flex;flex-flow:row wrap}
.thm-popup>.inner>*{flex-basis:50%;max-width:50%;padding:8vh 20px}
.thm-popup>.inner>.hd{position:relative;background:#f9f9f9}
.thm-popup>.inner>.hd b{display:block;font-weight:500;font-size:26px;color:#333;margin-bottom:20px;position:relative;z-index:2}
.thm-popup>.inner>.hd figure{position:absolute;max-width:100%;bottom:0;left:0}
.thm-popup>.inner>.wrap{padding-left:20px}
.thm-popup .fb>a{display:block;padding:5px 10px;line-height:30px;font-size:16px;border-radius:.3em;-webkit-border-radius:.3em;margin-bottom:20px}
.thm-popup .fb>a>img{width:40px;height:30px;object-fit:contain;margin:0 15px 0 20%}
.thm-popup .fb>a.fb-signin{background:#3b5998;color:#fff}
.thm-popup .fb>a.gg-signin{background:#fff;color:#292929;border:1px solid #b5b5b5}
.thm-popup .or{position:relative;margin-bottom:20px;display:block;text-align:center;color:#939393}
.thm-popup .or:before{content:"";display:block;position:absolute;top:50%;left:-20px;right:-20px;border-bottom:1px solid #939393;z-index:1}
.thm-popup .or>span{position:relative;z-index:2;display:inline-block;padding:0 15px;background:#fff}
.section-regis>li{position:relative;margin-bottom:20px}
.section-regis .txt-box{border:none;padding:0;border-bottom:1px solid #bcbcbc;border-radius:0;-webkit-border-radius:0}
#login_details .section-regis .ic{position:absolute;top:8px;left:0;width:30px}
#login_details .section-regis .ic img{height:20px;max-width:80%;display:block;margin:0 auto;object-fit:contain}
#login_details .section-regis .txt-box{padding-left:40px!important;padding-top:5px}
.section-regis>li input[type="radio"],.section-regis>li input[type="checkbox"]{vertical-align:middle;margin-bottom:3px}
.thm-popup .z-login legend{font-size:14px;color:#313131;margin-bottom:40px}
.thm-popup .z-login legend>small{display:block;color:#333;font-size:12px}
.thm-popup .btn-regis{text-align:center;color:#939393}
.thm-popup .btn-regis a{color:#939393}
.thm-popup .btn-regis a.btn-signup{font-weight:500;color:#001E64}
.thm-sh-social{ width: 500px; padding: 15px; max-width:95%}
.thm-sh-social .head{font-size: 16px}
.thm-sh-social .main>div{display: flex; height: 100px; flex-flow: row nowrap; justify-content:center; align-items: center;width: 100%}
.thm-sh-social .main>div>*{margin:0 15px}
.thm-sh-social .main a[class*="icon-"]{width: 45px; height: 45px; line-height: 45px; text-align: center; border-radius: 100%;background: #666}
.thm-sh-social .main a[class*="icon-"]>i{font-size: 24px; color: #fff;display: block;line-height: 45px;}
.thm-sh-social .main a[class*="icon-fb"]{background:#4267B2}
.thm-sh-social .main a[class*="icon-tw"]{background:#1DA1F2}
.thm-sh-social .main form{display:flex; flex-flow: row nowrap;width: 100%; background: #fafafa;border: 1px solid #ccc; border-radius: .2em}
.thm-sh-social .main form input{ flex: 1 1 0;border: none;background:none; color: #333; font-size: 10px;padding: 5px 0 5px 10px; overflow: hidden; text-overflow: ellipsis;}
.thm-sh-social .main form [class*="ui-btn"]{padding:5px 10px; border-radius: 0;-webkit-border-radius: 0; min-width:inherit; color: cornflowerblue}

@media (max-width:812px){
}
@media (max-width:480px){
}
/*paging*/
.pagination,.ctrl-paging{position:relative;display:block;clear:both;margin-left:auto;margin-right:auto;margin-top:20px;margin-bottom:0;padding-bottom:10px}
.pagination ul{width:100%;text-align:center}
.pagination ul li{display:inline-block;margin:0 5px;vertical-align:top}
.pagination ul li a{display:inline-block;padding:0 5px;min-width:30px;height:30px;font:14px/28px "Kanit", tahoma;color:#313131;background:#fff;text-align:center;border:1px solid transparent;text-decoration:none;border-radius:5em;-webkit-border-radius:5em}
.pagination ul li a:hover{opacity:.75}
.pagination ul li a.active{background:#001E64;border-color:#001E64;color:#fff;box-shadow:0 0 0 1px rgba(255,255,255,0.1) inset}
.ctrl-paging>p{text-align:right;font-size:14px;min-height:25px}
.ctrl-paging>p>.result{display:block;float:left;color:#999}
.ctrl-paging>p>strong,.ctrl-paging>p>a{display:inline-block;padding:0 5px;min-width:25px;height:25px;font:14px/25px "MyFont", tahoma;color:#777;background:#fff;text-align:center;border:1px solid #ccc;text-decoration:none;border-radius:.2em;-webkit-border-radius:.2em}
.ctrl-paging>p>a:hover{opacity:.75}
.ctrl-paging>p>strong{background:#f1c03d;border-color:#f1c03d;color:#fff;box-shadow:0 0 0 1px rgba(255,255,255,0.1) inset}


/*Responsive*/
@media (min-width:768px){}
@media (min-width:1024px){
.full-width{margin-left:calc(-100vw / 2 + 980px / 2 + 10px);margin-right:calc(-100vw / 2 + 980px / 2 + 10px)}
}
@media (min-width:1200px){
.full-width{margin-left:calc(-100vw / 2 + 1170px / 2 + 10px);margin-right:calc(-100vw / 2 + 1170px / 2 + 10px)}
}
@media (min-width:1601px){
[id="gb-header"] > .container,[id="toc"] .container,[id="gb-footer"] .container{max-width: 1440px}
/*.full-width{margin-left:calc(-100vw / 2 + 1440px / 2 + 10px);margin-right:calc(-100vw / 2 + 1440px / 2 + 10px)}*/
.slick-slider .slider{overflow:visible;white-space:normal}
.slick-slider .slick-slider .slick-track{padding-bottom:0}
}
@media (min-width:992px){
[class*="table-resp"]{padding:0 1px;overflow:auto}
[class*="table-resp"] [class*="table"]{min-width:inherit!important}
}
@media (min-width:1200px) and (max-width:1439px){}
@media (min-width:1024px) and (max-width:1199px){
}
/*mobile*/
@media (min-width:801px) and (max-width:1199px){}
@media (min-width:768px) and (max-width:991px){
}
@media (max-width:1599px){
}
@media (max-width:1366px){
/*.author-slider .slick-list{padding-right: 0;}
.author-slider .slick-list .slick-track{}
[id=writer_list] .author-slider .slick-next{right:auto; left:100vw; transform:translate(-400%,-50%)}*/
}
@media (max-width:1199px){
.sec-hl [class*="sqh"][class*="-box"] > .top h3{font-size: 150%}
.sec-hl [class*="sqh"][class*="-box"] > .top h3 big{font-size: 300%}
[class*="sq1"] .left big,[class*="th-box"] .top h3 big{font-size: 250%}
.sec-hl .list-sq > li > *,.sec-hl [class*="sqh1"] .list-sq > li > div{font-size: 14px}
.sec-hl [class*="sqh2"] .list-sq > li{padding-top: 10px}
.sec-hl [class*="sqh3"] .list-sq > li{padding-top: 16px; padding-bottom: 16px}
.sec-hl .navbr-cv > a,.list-news > li > a > .info > h3,[class*="sq2"][class*="-box"] .list-sq>li>*{font-size: 18px}
.list-news > li > a > figure > img{max-height: 92px}
}
@media (max-width:991px){
.container{overflow:visible}
[id="gb-footer"] .col-l .wrap-ft{display: flex; flex-flow: row nowrap;justify-content: space-around;align-items: center;margin-bottom: 15px}
.wrap-ft>p{}
.wrap-ft>div{}
.slick-slider{overflow:hidden}
/*[id="back2top"]{display:none}*/
/*scroll apps*/
#toc .scroll-hr{margin-left:1rem!important;display:block;max-width:100%;white-space:nowrap;overflow-x:auto!important;overflow-y:hidden}
#toc .full-width .scroll-hr{margin-left:.5rem!important;margin-right:-.5rem}
#toc .scroll-hr>*{display:inline-block;width:65%;max-width:250px;margin-right:0.5rem;padding:0;white-space:normal}
#toc .scroll-hr:hover>*:last-child:after,#toc .scroll-hr:focus>*:last-child:after,#toc .scroll-hr:active>*:last-child:after{display:none}
/*#toc .scroll-hr>*:last-child:after{box-shadow:-60px 0 20px -20px rgba(255, 255, 255,0.65) inset;bottom:0;color:#464646;font-family:'FontAwesome';content:"\f054";display:inline-block;font-size:21px;line-height:40px;max-height:40px;position:absolute;width:60px;padding-left:30px;right:0;text-align:center;top:50%;transform:translate(0px, -50%);-webkit-transform:translate(0px, -50%)}*/
body>[class*="page-"]{}
body [class*="page-"] [id="toc"]{padding-left:1rem;padding-right:1rem}
body [class*="page-"] [id="toc"] .full-width{margin-left:-1rem;margin-right:-.88rem;padding-left:1em;padding-right:1em}
body [class*="page-"] [id="toc"] .sec-04 .full-width{padding-left: 0; padding-right: 0;}
/*[class*="thm-news"]{margin-right:-1rem}*/
[class*="thm-news"]{margin-left:-.5rem;margin-right:-.5rem}
[class*="thm-news"] article{min-width:25%}
[class*="thm-news"][class*="-list"]{margin-left:-0.5rem;margin-right:-0.5rem}
/*.sec-detail > .cover{margin-left: -1rem;margin-right: -1rem;max-width: none}*/
.reader p{line-height:normal}
/*nav slick slider*/
.slick-prev{left:25px}
.slick-next{}
.slick-slider .slick-next:before{ transform:scale(.5) translate(100%, -100%)}
.slick-slider .slick-prev:before{ transform:scale(.5) translate(-100%, -100%)}

[class*="table-resp"]{border-radius:0;-webkit-border-radius:0;position:relative;max-width:100vw;overflow-x:scroll!important;-webkit-overflow-scrolling:touch}
[class*="table-resp"]:after{content:"";display:block;width:48px;height:48px;background:url(../di/icon-drag.png) 50% 50% no-repeat #a0a0a0;background-size:85% auto;border-radius:100%;-webkit-border-radius:100%;position:absolute;left:50%;top:50%;margin:-20px 0 0 -24px;opacity:.65}
[class*="table-resp"]:after{animation:move 1s infinite;-webkit-animation:move 1s infinite}
[class*="table-resp"].off:after{display:none!important}
[class*="table-resp"] [class*="table"]{min-width:700px}

@-webkit-keyframes move{
0%{-webkit-transform:translateX(-10px);
transform:translateX(-10px)}
50%{-webkit-transform:translateX(10px);
transform:translateX(10px)}
100%{-webkit-transform:translateX(-10px);
transform:translateX(-10px)}
}
@keyframes move{
0%{-webkit-transform:translateX(-10px);
transform:translateX(-10px)}
50%{-webkit-transform:translateX(10px);
transform:translateX(10px)}
100%{-webkit-transform:translateX(-10px);
transform:translateX(-10px)}
}
[class*="table-resp"]:hover:after,[class*="table-resp"]:active:after,[class*="table-resp"]:focus:after{display:none}
}
@media (max-width:812px){
[id="toc"] [class^="sec-"]{padding-top:20px;padding-bottom:20px}
[id="toc"] [class^="sec-detail"]{padding-left: 0;padding-right: 0}
[class*="thm-news"] article .detail{padding: 10px}
[class*="thm-news"] article[class*="big"] h3{font-size: 18px}
[class*="thm-news"] article h3{font-size: 14px}
[class*="thm-news"] article .tools > span{font-size: 12px}
[class*="sq"][class*="-box"]{padding: .5rem}
[class*="h-text"]{font-size: 24px}
[class*="h-text"].small{font-size: 18px}
.sec-hl [class*="sqh"][class*="-box"] > .top h3{font-size: 120%}
.sec-hl [class*="sqh"][class*="-box"] > .top h3 big{font-size: 250%}
[class*="sq1"] .left big,[class*="th-box"] .top h3 big{font-size: 200%}
[class*="sq1"] .left h3,.z-map-th .hd > li > *,.z-map-th .hd > li > h3,.sec-hl .btn-more > a{font-size: 16px}
.sec-hl .list-sq > li > *,.sec-hl [class*="sqh1"] .list-sq > li > div,.list-sq > li > *{font-size: 14px}
/*.sec-hl [class*="sqh2"] .list-sq > li{padding-top: 10px}
.sec-hl [class*="sqh3"] .list-sq > li{padding-top: 16px; padding-bottom: 16px}*/
.sec-hl .navbr-cv > a,.list-news > li > a > .info > h3,[class*="sq2"][class*="-box"] .list-sq>li>*{font-size: 14px}
.list-news > li > a > figure > img{max-height: 92px}
.sec-03 .list-sq > li:not(:last-child){ margin-bottom: 10px}
.box ul.d-flex em{font-size: 120%}
.css-donut>*{max-width: 100%}
.css-donut>* canvas{width: 200px!important; height: 200px!important}
.chart-info ul>li{white-space: nowrap}
.css-graph-bar > li{min-width: 105px}
.css-graph-bar > li > div > em{font-size: 160%}
.tb-rank > *, .list-rank > li > *{font-size: 12px; font-weight: 400!important}
[id="rank-covid19"]{max-height: 300px}
}
@media (min-width:480px) and (max-width:767px){
}
/*xs*/
@media (max-width:767px){
body.lb{overflow-x:hidden}
[class*="h-line"]>span{display:block;font-size:20px}
.box-wh{padding:10px}
.crumb{white-space:nowrap;overflow:hidden}
.crumb *{font-size:11px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
[class*="h-text"]{font-size: 24px}
/*[class*="thm-news-list"] article .in,[class*="thm-pod-list"] article .in{display: flex;flex-flow: row wrap}
[class*="thm-news-list"] article .in figure,[class*="thm-pod-list"] article .in figure{ flex-basis: 45%;max-width: 45%}
[class*="thm-news-list"] article .in .detail,[class*="thm-pod-list"] article .in .detail{flex: 1 1 0;padding: 0 0 0 10px}
[class*="thm-pod"] article .in figure img{border-radius: .5em .5em 0 0}

[class*="thm-rec"][class*="big"]{margin-bottom: 20px}
[class*="thm-rec"][class*="big"] article .in figure > span:before{padding-top: 120%}
.sec-03>.row{padding-left: .5rem;margin-right: -1rem;}*/
}
@media (max-width:567px){
[class*="h-text"]{font-size: 21px}
[class*="thm-news"] article .in figure::before{padding-top: 35%}
}
@media (max-width:480px){
.crumb{overflow:auto;margin-right:-1rem}
/*.crumb a{display:none}
.crumb a:nth-child(1){display:inline-block}*/
[class*="thm-news"] article .detail{ min-height: inherit}
/*[class*="thm-news"] article{min-width:33.333%;padding:0 .5rem}
[class*="thm-news"] article h3,.author-slider article>a h3{font-size:12px}
[class*="thm-news"] article .author a{font-size:10px}
[class*="thm-news"] article .in .ft-btn>a{padding:5px}
[class*="thm-news"] article h3{margin-bottom:5px}
[class*="thm-news"] article h3>a{height:60px}*/

/*.sec-detail > .cover img{min-height: 50vh}*/
.sec-detail .hgroup h1{font-size: 18px}
.sec-detail .hgroup h1 br{display: none}
[class*="h-line"] > *, [class*="h-line"] > a{font-size:18px}

.thm-popup>.inner>*{flex-basis:100%;max-width:100%;padding:10px!important}
.thm-popup>.inner>.hd b{text-align:center;margin-bottom:0}
.thm-popup>.inner>.hd figure{top:0;overflow:hidden;width:100%}
.thm-popup>.inner>.hd figure img{display:none;position:absolute;top:0;right:0;left:0;bottom:0;width:100%;height:100%;object-fit:contain;object-position:0 0}
.thm-popup .or:before{left:0;right:0}
.sec-hl .navbr-cv{position: relative;display: flex; flex-flow: row nowrap; justify-content: space-between;margin: -20px 0}
.sec-hl .navbr-cv>a{position: relative;top: auto}
.sec-hl .hl-top [class*="sq"][class*="-box"]{margin-bottom: 10px}
.list-sq > li:not(:last-child){margin-bottom: 10px}
.sec-hl [class*="sq1"][class*="-box"] > .list-sq{ flex-basis: 55%;max-width: 55%}
.sec-hl [class*="sq1"][class*="-box"] > .list-news{padding-left: 0; margin-top: 15px; flex-basis:100%;max-width: 100%}
.list-news > li > a > figure > img{max-height: 75px}
.css-graph-bar > li > div > em{font-size: 115%}
.css-donut{margin-top: 20px}
}
@media (max-width:414px){
.podcast-view{padding: 10px 10px 5px}
.podcast-view .card{margin-left: -10px;}
.podcast-view .card .info p{margin: 0}
.podcast-view .card .info h1{font-size: 16px;margin: 0}
.slick-dotted.slick-slider{margin-bottom: 10px;}
}
@media (max-width:375px){
}
@media (max-width:320px){
}
