<footer id="gb-footer">
 <ul class="lg-credit">
 	<li><a href="#" title="cr1"></a><img src="di/logo-thai-media.png" height="40"></li>
	<li><a href="#" title="cr2"><img src="di/logo-mcot.png" height="40"></a></li>
	<li><a href="#" title="cr3"><img src="di/logo-FNF-SURE.png" height="40"></a></li>
 </ul>
 <p class="copyright">© สงวนลิขสิทธิ์ 2020 Thaishield</p>
</footer>


<div id="back2top">
	<i class="ic-b2t"></i>
	<span>Back to top</span>
</div>