<header id="gb-header">
<div class="container">
	<div class="gheader">
		<h1 itemscope="" itemtype="//schema.org/Organization" class="logo">
			<a href="index.php" itemprop="url">Thaishield</a>
			<img src="di/logo.png" itemprop="logo">
		</h1>
		<div class="btn-nv-m" role="navigation">
			<a class="b-ex" href="javascript:;" title="Expand">
					<span>&nbsp;</span>
					<span>&nbsp;</span>
					<span>&nbsp;</span>
				</a>
		</div>

		<nav id="navigation" class="main-nav" role="navigation">
		  <ul id="nav-drop">    
			<li class="home pg"><a href="index.php" title="HOME">หน้าแรก</a></li>
			<li class="pg sub"><a href="javascript:;" title="ประเทศไทย">ประเทศไทย</a><!--<div class="sw"><i class="fas fa-angle-down"></i></div>-->
					<!--<ul>
						<li><a class="dropdown-item" href="category.php?cid=11">ข่าวศาลรัฐธรรมนูญ</a></li>
						<li><a class="dropdown-item" href="category.php?cid=16">ข่่าวสำนักงานศาลรัฐธรรมนูญ&nbsp;(Press&nbsp;Release)</a></li>
						<li><a class="dropdown-item" href="category.php?cid=15">ข่าวประชาสัมพันธ์สำนักงานศาลรัฐธรรมนูญ</a></li>
						<li><a class="dropdown-item" href="category.php?cid=19">ข่าวรับสมัครบุคลากร</a></li>
						<li><a class="dropdown-item" href="category.php?cid=17">ภาพกิจกรรมสำนักงานศาลรัฐธรรมนูญ</a></li>
						<li><a class="dropdown-item" href="category.php?cid=620">ข่าวฝากประชาสัมพันธ์</a></li>
						<li><a class="dropdown-item" href="category.phpl">สาระดีๆจากศาลปกครอง</a></li>
						<li><a class="dropdown-item" href="category.php?nid=9843">การรับฟังความคิดเห็น</a></li>
					</ul>-->
			</li>
			<li class="pg"><a href="#" title="ทั่วโลก">ทั่วโลก</a></li>
			<li class="pg"><a href="#" title="รู้จัก State Quarantine">รู้จัก State Quarantine</a></li>
			<li class="pg"><a href="#" title="กลับมาไทย">กลับมาไทย</a></li>
			<li class="pg"><a href="news.php" title="รู้ทันโควิด">รู้ทันโควิด</a></li>

			</ul>
		</nav>
		
		<ul class="lg-credit">
			<li><a href="#" title="cr1"><img src="di/logo-thai-media.png" height="32"></a></li>
			<li><a href="#" title="cr2"><img src="di/logo-mcot.png" height="32"></a></li>
			<li><a href="#" title="cr3"><img src="di/logo-FNF-SURE.png" height="32"></a></li>
		 </ul>
		
		
	</div>
	<!--<div class="fix-r">
		 
	
		    <div class="sw-view" role="search">
			<a class="btn" href="javascript:;" title="Search"><i class="fas fa-search"></i> ค้นหา</a>
			<ul class="form-control">
				<li class="container">
				<form id="cse-search-box" method="get" action="search.php">
					<input name="key-word" id="auto-search" placeholder="ค้นหา...." type="text">
					<button type="submit" id="btn-search" class="btn fa-search"></button>
					<span class="close"></span>
				</form>
				</li>
			</ul>
			
		</div>
	
		<div class="sw-toggle lang hidden-xs hidden-sm">
			<a class="btn" href="javascript:;" title="Lang">TH <i class="fas fa-angle-down"></i> </a>
			<ul class="dropdown">
				<li><a href="#" title="English">EN</a></li>
				<li><a href="#" title="Thai">TH</a></li>
			</ul>

		</div>
	</div>-->
	
</div>
</header>